/* Movie Details Section */
.movie-details {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: #fff;
  margin-top:-100px ;
  opacity: 0; /* Initially invisible */
  transform: translateY(20px); /* Slightly shifted down */
  animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.movie-details img {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 15px;
  margin-top:100px;
  padding: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.movie-details img:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie-des {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 10px;
  margin-top:100px;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 1s ease-out forwards;
  animation-delay: 0.5s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.movie-des .title-rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.movie-profile {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 100%;
}

.movie-profile ul {
  display: flex;
  gap: 5px;
  padding-left: 5px;
  list-style-type: none;
}

.movie-preference {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.movie-preference .icons {
  color: #fff;
  border-radius: 50%;
  background-color: red;
  font-size: 20px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.movie-preference .icons:hover {
  color: red;
  background-color: white;
}

.movie-preference .icons:hover::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  background-color: #f10b0bb4;
  color: #fff;
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.movie-overview {
  margin-top: 27px;
}

.movie-overview h2 {
  text-transform: capitalize;
  font-size: 20px;
}

.movie-overview hr {
  border: none;
  width: 10%;
  height: 2px;
  background: linear-gradient(to right, #f30303, #feb47b);
  margin-bottom: 10px;
}

.rating {
  margin-top: -10px;
  padding: 20px 0;
}

.rating p {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-decoration: underline;
}

.rating input {
  display: none;
}

.rating input + label {
  margin-top: 10px;
  font-size: 25px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}

.rating input:checked + label ~ label {
  color: #838383;
}

.rating label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

#feedback {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #eb0b0bf6;
  text-decoration: none;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#feedback.visible {
  opacity: 1;
}

.rating input:disabled + label {
  cursor: not-allowed;
}

.movie-socials {
  display: flex;
  gap: 15px;
  margin-top: -15px;
}

.movie-socials a {
  text-decoration: none;
}

.movie-socials .icons {
  color: #fff;
  border-radius: 50%;
  background-color: red;
  font-size: 24px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.movie-socials .icons:hover {
  background-color: #fff;
  color: red;
}
/* Cast */
.movie-cast {
  margin: 10px;
  padding: 10px;
}

.movie-cast h1 {
  font-size: 24px;
  position: relative;
  padding-left: 10px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.cast-container {
 position: relative;
  display: flex;
  gap: 20px;
  
}


.cast-member {
  text-align: center;
  width: 150px;
  background-color: #ec1212bd;
  border-radius: 20px;
  margin: 10px 0 10px ;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cast-member:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cast-img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: #ccc;
}

.cast-member p {
  font: 600;
}

#to-cast {
  color: hsl(0, 85%, 51%);
  border: none;
  background: transparent;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.5s, background-color 0.5s;
  animation: bounce 2s infinite; /* Bouncing animation */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

#to-cast:hover {
  background-color: #ff0000c5;
  color: black;

}

#to-cast .icons {
  font-size: 20px;
  color: #fff;
  padding: 2px;
}
.movie-cast h1::before,
#related-movies-section h1::before{
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: 5px; 
  background-color: red;
  z-index: 10;

}

/* Related Movies */
#related-movies-section {
  padding: 10px;
  margin: 10px;
  text-align: start;
  max-width: 1200px;
}

#related-movies-section h1 {
  font-size: 24px;
  padding: 0 0 5px 10px;
  position: relative;
}

.related-movies {
  position: relative;
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100vw;

}

/* Hide scrollbars */
.related-movies::-webkit-scrollbar {
  display: none;
}

.related-movies {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.related-movie {
  flex: 0 0 auto;
  scroll-snap-align: start;
  display: inline-block;
  position: relative;
  background-color: #f10b0bb4;
  height: fit-content;
  width: fit-content;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box
}
.related-movie img {
  display: block;
  width: 255px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;;
}

.movie-info {
  text-align: center;
  padding: 10px;
  
}

.movie-info h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  color: #222;
  flex-wrap: wrap;

}

.movie-info p {
  position: absolute;
  /* bottom: 13%; */
  /* right: 10px; */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 5px;
}
.related-movie img,
.related-movie .movie-info p {
  transition: transform 0.3s ease;
}
.related-movie:hover img,
.related-movie:hover .movie-info p {
  transform: scale(0.8);
}



/* Responsiveness */
/* Responsive Styling */
@media (max-width: 768px) {
  .movie-details {
    flex-direction: column; /* Stack content vertically */
    margin-top: 0;
  }

  .movie-details img {
    max-width: 100%; /* Adjust image size for smaller screens */
    margin-bottom: 20px;
  }

  .movie-des {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .movie-details {
    padding: 10px;
  }

  .movie-details img {
    max-width: 90%; 
  }

  .movie-des .title-rating {
    flex-direction: column;
    text-align: center;
  }
}