@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  
}
a{
  text-decoration: none;
}

body{
  width: 100%;
  height: 100vh;
  background-color: rgb(45, 45, 45);
  
  overflow-x: hidden;

}
/* General Styles */
header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.349);
  position: relative;
  z-index: 100;
  font-size: 18px;
  padding: 30px;  
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0px;
}

.nav-left h2 {
  margin: 20px;
  color: white;
}

.nav-left span {
  color: red;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;  
  padding: 20px;
  margin-left: 20px;
}

.nav-bar ul li a {
  margin-right: 10px;
  font-weight: 700;
  transition: 0.8s;
  color: white;
  text-decoration: none;
}

.nav-bar ul li a:hover {
  color: red;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search-container:hover input {
  width: 200px;
}

.search-container input {
  width: 0;
  outline: 0;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  transition: 0.8s;
  color: black;
  background: #fff;
}

.search-container a .fa-magnifying-glass {
  font-size: 20px;
  color: black;
}

.auth {
  color: hsl(0, 85%, 51%);
  border: none;
  background: transparent;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.auth:hover {
  color: #ece8e8f5;
  background: rgba(235, 10, 10, 0.884);
  transition: 0.8s;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    height: auto;
    padding: 10px;
    font-size: 15px;
    
  }

  .nav-left, .nav-right {
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-left{
  display:block;
  gap: 1;
  margin: 0;
  padding: 0;
  
  }
  .nav-left h2{
    margin: 0 0 -20px 20px;
  }
  
  .nav-bar ul {
    margin-top: -30px;
    margin: 0;
    align-items: flex-start;
    gap: 10px;
  }
  .nav-right{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    height: 50px;
  }

  .search-container {
    
    width: auto;
  
  
  }

  .search-container input {
    width: 0;
    outline: 0;
    border: 0;
    font-size: 13px;
    font-weight: bold;
    transition: width 0.8s ease;
    color: black;
    background: #fff;
    
  
  }
  .search-container:hover input {
    width: 150px;
  }

  .auth {
    width: auto;
    height: auto;
    padding: 10px 20px;
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 5px;
  }

  .nav-left h2 {
    font-size: 13px;
  }

  .nav-bar ul {
    gap: 5px;
  
  }

  .nav-bar ul li a {
    font-size: 12px;
    margin-right: 5px;
  }

  .search-container {
    width: auto;
    padding: 5px 10px;
  }

  .search-container input {
    width: 100%;
    font-size: 11px;
  }
  

  .auth {
    width: auto;
    font-size: 12px;
  }
}

/* End of Navigation */

/* Hero section */
.hero-section{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -100px;
  position: relative;

}
#hero-slide .slide{
  position: relative;
 width: 100vw;
 height: 100vh;
  z-index: 1;
}
#hero-slide .slide::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.4); 
z-index: 2;
}
#hero-slide .slide img{
  width: 100%;
  height:100% ;
  opacity: 1;
  object-fit:cover;
  background-position: center;
}

#hero-slide .slide .content{
  position: absolute;
  top: 15%;
  width: 1140px;
  max-width: 80%;
  left: 40%;
  transform: translateX(-50%);
  padding-left: 30px;
  box-shadow: 0 5px 10px #0004;
  margin: 20px;
  z-index: 4;

}
#hero-slide .slide .content .title{
  background-color: rgba(0, 0, 0, 0.151);
  color: red;
  width: fit-content;
  margin: 10px 0 10px 0;
  padding: 0 10px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px ;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 5px;
}
#hero-slide .slide .genre{
  font-weight: 800;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px red ;
  margin: 10px 0 5px 0;
}
#hero-slide .slide .overview{
  font-size: 18px;
  font-weight: 600;
  color: #ffffff; 
  text-shadow: 1px 1px 2px black; 
}
.trailer{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  padding: 10px; 
  text-align: center; 
}
.trailer p{
  color: fff;
  font-size:16px ;
  margin-bottom: 10px;
  font-weight:bold;
}

.trailer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ff0000; 
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}
.trailer a:hover {
  background-color: #ebf0e6; 
}
.trailer a i {
  margin: 5px;
}
.trailer a:focus {
  outline: none; 
}
.fa-play{
  color: black;
  font-size: 30px;
}
/* Thumbnail */
#thumbnail-slide{
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
#thumbnail-slide .slide{
  width: 150px;
  height: 200px;
  flex-shrink: 0; /*so that the size does not shrink on small screen*/
  position: relative;
}
#thumbnail-slide .slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#thumbnail-slide .slide.slide img:hover{
  cursor: pointer;
  transform: scale(1.1); 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#thumbnail-slide .slide .content {
  display: none;
}
/* video modal */
/* Modal styles */
.video-modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top */
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

#videoIframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}

/* end video modal */

.arrows{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  z-index: 100;
}
.icon-nav{
  cursor: pointer;
  color: #333;         
  font-size: 30px;      
  padding: 5px;         
  transition: 0.3s
}
.icon-nav:hover{
  color: #ff0000d5;        
  transform: scale(1.2)
}
/* animations */
.hero-section #hero-slide .slide:nth-child(1){
  z-index: 1;
}
.hero-section #hero-slide .slide:nth-child(1) .title,
.hero-section #hero-slide .slide:nth-child(1) .genre,
.hero-section #hero-slide .slide:nth-child(1) .overview,
.hero-section #hero-slide .slide:nth-child(1) .trailer{
  transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.hero-section #hero-slide .slide:nth-child(1) .title{
  animation-delay: 1.2s;
}
.hero-section #hero-slide .slide:nth-child(1) .genre{
  animation-delay: 1.4s;
}
.hero-section #hero-slide .slide:nth-child(1) .overview{
  animation-delay: 1.6s;
}
.hero-section #hero-slide .slide:nth-child(1) .trailer{
  animation-delay: 1.8s;
}
/* effect next click */
.hero-section.next #hero-slide .slide:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

}
.hero-section.next #thumbnail-slide .slide:nth-last-child(1),
.hero-section.prev #thumbnail-slide .slide:nth-last-child(1){
  width: 0;
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail{
  from{
    width: 150px;
    opacity: 1;
  }
  to{
      width: 0;
      opacity: 0;
  }
}
.hero-section.next #thumbnail-slide{
  transform: translateX(150px);
  animation: transformThumbnail .5s linear 1 forwards;
}
@keyframes transformThumbnail{
  to{
      transform: translateX(0);
  }
}
.hero-section.prev #hero-slide .slide:nth-child(2){
  z-index: 2;
}
.hero-section.prev #hero-slide .slide:nth-child(2) img{
  
  position: absolute;
  left: 0;
  bottom: 0;
  animation:  outImage 0.5s linear 1 forwards;

}

@keyframes outImage{
  to{
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  }
}

.hero-section #hero-slide .slide:nth-child(2) .title,
.hero-section #hero-slide .slide:nth-child(2) .genre,
.hero-section #hero-slide .slide:nth-child(2) .overview,
.hero-section #hero-slide .slide:nth-child(2) .trailer{
  animation:  contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut {
  to{
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }  
}
.hero-section.next .arrows button,
.hero-section.prev .arrows button{
  pointer-events: none;
}
.time{
  position: absolute;
  width: 0;
  height: 5px;
  background-color: rgb(255, 8, 0);
  z-index: 1000;
  top: 0;
  left: 0;
}
.hero-section.next .time,
.hero-section.prev .time{
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}
@keyframes timeRunning {
  from{
    width:100% ;
  }
  to{
    width: 0;
  }
  
}
@media  screen and (max-width: 678px) {
  .hero-section #hero-slide .slide .content{
    top: 10%;
    left: 40%;
  
  }
  .hero-section #hero-slide .slide .content .title{
    font-size: 24px;
    letter-spacing: 2px
  }
  .hero-section #hero-slide .slide .overview {
    font-size: 16px;
  }
}
@media  screen and (max-width: 480px) {
  .hero-section #hero-slide .slide .content{
    top: 15%;
    left: 40%;
  
  }
  .hero-section #hero-slide .slide .content .title{
    font-size: 21px;
    letter-spacing: 1px
  }
  .hero-section #hero-slide .slide .content .genre{
    font-size: 12px;
  }
  .hero-section #hero-slide .slide .overview {
    font-size: 14px;
  }
  .hero-section #hero-slide .slide .content .trailer{
    display: flex;
    flex-direction: row;
    gap:10px;
  }
  
}

/* movie category */

#categories-container{
  padding: 20px;

}
/* Ensure movie category has a relative position for proper alignment of pseudo-element */
.movie-category {
  position: relative;
  margin-bottom: 40px;
  overflow: visible;
}

.movie-category h2 {
  font-size: 24px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.movie-category h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  height: 8%; 
  width: 5px; 
  background-color: red;
  z-index: 10;
}

/* Flex container for horizontal scrolling */
.movies {
  position: relative;
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
}

/* Hide scrollbars */
.movies::-webkit-scrollbar {
  display: none;
}

.movies {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Movie item styling */
.movie {
  flex: 0 0 auto;
  scroll-snap-align: start;
  display: inline-block;
  position: relative;
  background-color: #f10b0bb4;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  box-sizing: border-box;
}

.movie img{
  display: block;
  width: 240px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.movie-info{
  text-align: center;
  
}
.movie-info p{
  position: absolute;
  bottom: 13%;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 5px;
 
}
.movie-info h3{
  margin: 5px 0;
}
.movie img,
.movie .movie-info p {
  transition: transform 0.3s ease;
}
.movie:hover img,
.movie:hover .movie-info p {
  transform: scale(0.8);
}
.fa-star{
  color: yellow;
}

/* Footer */
.footer{
  background-color: #080505;
  width:  100%;
  padding: 70px 30px 20px;
}
.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  color: black; 
 } 
 .icons{
  color: black;
  font-size: 2rem;
  opacity: 0.9;
}
.socials a:hover{
  background-color: red;
  transition: 0.5s;
}
.icons:hover{
  color: #fff;
  transition: 0.5s ;
}
.footer-nav{
  margin: 30px 0;
}
.footer-nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer-nav ul li a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footer-nav u li a :hover{
  opacity:1;
}
.footerbottom{
  background-color: black;
  padding: 20px;
  text-align: center;
}
.footerbottom p{
  color: #fff; 
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media(max-width: 700px){
  .footer-nav ul{
    flex-direction: column;
  }
  .footer-nav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}